docker/.env
.idea/*
/docker/mongo/data/
/docker/proxy/config/*
.idea
docker/proxy/config/*
admin/node_modules
admin/.nuxt
docker/proxy/config
admin/.env
admin/.nuxt/*
/admin/.next/cache/webpack/client-development-fallback/0.pack.gz
/admin/.next/cache/webpack/server-development/1.pack.gz
/admin/.next/cache/webpack/client-development/2.pack.gz
/admin/.next/cache/webpack/server-development/2.pack.gz
/admin/.next/cache/webpack/client-development/3.pack.gz
/admin/.next/cache/webpack/server-development/3.pack.gz
/admin/.next/cache/webpack/client-development/4.pack.gz
/admin/.next/cache/webpack/server-development/4.pack.gz
/admin/.next/cache/webpack/server-development/5.pack.gz
/admin/.next/cache/webpack/server-development/6.pack.gz
/admin/.next/cache/webpack/server-development/7.pack.gz
/admin/.next/cache/webpack/server-development/8.pack.gz
/admin/.next/static/webpack/1387e3b8a54e5bb2.webpack.hot-update.json
/admin/.next/static/webpack/633457081244afec._.hot-update.json
/admin/.next/server/vendor-chunks/@swc.js
/admin/.next/static/development/_buildManifest.js
/admin/.next/static/development/_ssgManifest.js
/admin/.next/app-build-manifest.json
/admin/.next/static/chunks/app-pages-internals.js
/admin/.next/server/app-paths-manifest.json
/admin/.next/build-manifest.json
/docker/reverse_proxy/config/default.conf
/docker/reverse_proxy/certs/default.crt
/docker/reverse_proxy/certs/default.key
/docker/reverse_proxy/certs/dhparam.pem
/admin/.next/cache/fetch-cache/e1c30ce7e7c145dfd00ea31b575168db3664b12f3ab6fae74fdb8ace18eb44e0
/admin/.next/cache/webpack/client-development-fallback/index.pack.gz
/admin/.next/cache/webpack/client-development-fallback/index.pack.gz.old
/admin/.next/cache/webpack/server-development/index.pack.gz.old
/admin/.next/server/interception-route-rewrite-manifest.js
/admin/.next/static/chunks/app/layout.js
/admin/.next/types/app/layout.ts
/admin/.next/static/chunks/main-app.js
/admin/.next/server/middleware-build-manifest.js
/admin/.next/server/middleware-manifest.json
/admin/.next/server/middleware-react-loadable-manifest.js
/admin/.next/server/vendor-chunks/next.js
/admin/.next/server/next-font-manifest.js
/admin/.next/server/next-font-manifest.json
/admin/.next/types/package.json
/admin/.next/server/app/page.js
/admin/.next/static/chunks/app/page.js
/admin/.next/types/app/page.ts
/admin/.next/server/app/page_client-reference-manifest.js
/admin/.next/server/pages-manifest.json
/admin/.next/static/chunks/polyfills.js
/admin/.next/react-loadable-manifest.json
/admin/.next/server/server-reference-manifest.js
/admin/.next/server/server-reference-manifest.json
/admin/.next/static/webpack/webpack.1387e3b8a54e5bb2.hot-update.js
/admin/.next/static/chunks/webpack.js
/admin/.next/server/webpack-runtime.js
