docker/.env
.idea/*
/docker/reverse_proxy/config/*
.idea
docker/reverse_proxy/config/*
admin/node_modules
admin/.nuxt
docker/reverse_proxy/config
admin/.env
/admin/.nuxt/*
/admin/.next/*
/admin/.next
/docker/reverse_proxy/*
