COMPOSE_PROJECT_NAME=pricecheck
#mysql settings
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=pricecheck
MYSQL_PORT=3306

#apache settings
PORT=82
BACKEND=api.pricecheck.my
VIRTUAL_HOST=pricecheck.my

#deploy script
BACKEND_DEPLOY_SCRIPT="composer install --ignore-platform-reqs && composer update --ignore-platform-reqs && php yii mongodb-migrate --interactive=0"

#под этими логиниться
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=pricecheck

EXTERNAL_IP=host.docker.internal
SERVER_NAME=Docker

ADMIN_PANEL=admin.lit.my
USER_PANEL=magazine.lit.my
FRONTEND_DEPLOY_SCRIPT="npm install --unsafe-perm && npm run dev"